
<div class="container">
 
    <div class="py-5 text-center">
      
      <h2>Карточка Редагування Тарифу</h2>
      <p class="lead">Редагування інформації тариф</p>
    </div>

   <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        
        <ul class="list-group mb-3">
          
        </ul>
        
      </div>
        <div class="col-md-7 col-lg-8 ">
            <div class="common-form">
                          
              <%= form_with(model: tariff, local: true) do |form| %>
                <% if tariff.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(tariff.errors.count, "error") %> prohibited this tariff from being saved:</h2>

                    <ul>
                      <% tariff.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                  <div class="col-sm-12">
                  <%= form.label :vodokanal_id, 'водоканал' %>
                  <%= form.select :vodokanal_id, options_for_select(Vodokanal.all.map{|v| [v.short_name, v.id]}) %>

                </div>

                <div class="col-sm-12">
                  <%= form.label :name, 'наименование тарифа' %>
                  <%= form.text_area :name %>
                </div>

                <div class="col-sm-12">
                  <%= form.label :price, 'цена тарифа (в грн)' %>
                  <%= form.number_field :price , in: 0.0..1000.0, step: 0.01%>
                </div>

                <div class="col-sm-12">
                  <%= form.label :description, 'описание тарифа' %>
                  <%= form.text_field :description %>
                </div>

                <div class="col-sm-12">
                  <%= form.label :date_start, 'дата начала действия тарифа'  %>
                  <%= form.date_select :date_start %>
                </div>

                <div class="col-sm-12">
                  <%= form.label :status, 'статус' %>
                  <%= form.select :status, [["Действует","1"],  ["Не действует","0"] ] %>
                </div>

                <div class="actions">
                  <%= form.submit  class: 'w-100 btn btn-primary btn-lg' %>
                </div>
              <% end %>
          </div>
          </div>
        </div>
    
       </div>

   

    </div>
 
</div>
 