<section class="login">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 center-col">
                        <div class="common-form">
                            <h3>Новая транзакция</h3>
                              <%= form_with(model: computation, local: true) do |form| %>
                                <% if computation.errors.any? %>
                                  <div id="error_explanation">
                                    <h2><%= pluralize(computation.errors.count, "error") %> prohibited this computation from being saved:</h2>

                                    <ul>
                                      <% computation.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                      <% end %>
                                    </ul>
                                  </div>
                                <% end %>
                                <div class="row">
                                    <div class="col-md-12 margin-15px-bottom">
                                         <%= form.label :name %>
                                         <%= form.text_field :name %>
                                    </div>
                                    <div class="col-12 margin-15px-bottom">
                                         <%= form.label :water_consumption %>
                                         <%= form.text_field :water_consumption %>
                                    </div>
                                    <div class="col-12 margin-20px-bottom">
                                         <%= form.label :price %>
                                         <%= form.text_field :price %>
                                    </div>
                                     <div class="col-12 margin-20px-bottom">
                                         <%= form.label :summa %>
                                         <%= form.text_field :summa %>
                                     </div>
                                     <div class="col-12 margin-20px-bottom">
                                      <%= form.label :b_period %>
                                      <%= form.date_select :b_period %>
                                     </div>
                                     <div class="col-12 margin-20px-bottom">
                                      <%= form.label :e_period %>
                                      <%= form.date_select :e_period %>
                                     </div>
                                     <div class="col-12 margin-20px-bottom">
                                      <%= form.label :account_id %>
                                      <%= form.text_field :account_id %>
                                     </div>
                                      <div class="col-12 margin-20px-bottom">
                                      <%= form.label :watermeter_id %>
                                      <%= form.text_field :watermeter_id %>
                                     </div>
                                      <div class="col-12 margin-20px-bottom">
                                      <%= form.label :tariff_id %>
                                      <%= form.text_field :tariff_id %>
                                     </div>


                                    <div class="col-12">
                                        <%= form.submit class: 'butn theme medium' %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>

            </div>
        </section>




  <div class="actions">
   
  </div>

