   <section class="login">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 center-col">
                        <div class="common-form">
                            <h3>Передача показників  </h3>
                            <h4> до приладу id: <%= @watermeter_indication.watermeter.id %> </h4>
                            <h4> последние показания: <%= @watermeter_indication.watermeter.wm_last_sent_report_params %> </h4>
                            <div class="row">
                                                        
                                                
                          <%= form_for([@watermeter_indication.watermeter, @watermeter_indication]) do |f| %>
                            <% if @watermeter_indication.errors.any? %>
                              <div id="error_explanation">
                                <h2><%= pluralize(@watermeter_indication.errors.count, "error") %> prohibited this watermeter_indication from being saved:</h2>

                                <ul>
                                <% @watermeter_indication.errors.full_messages.each do |msg| %>
                                  <li><%= msg %></li>
                                <% end %>
                                </ul>
                              </div>
                            <% end %>

                            <div class="field">
                              <%= f.label :data, 'Актуальные показатели' %><br />
                              <%= f.text_field :data %>
                            </div>
                            <div class="actions">
                              <%= f.submit %>
                            </div>
                            <%= link_to 'Вернуться', watermeter_watermeter_indications_path(@watermeter_indication.watermeter), class: 'btn btn-primary' %>
                          <% end %>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- end login section -->
