<div class = "jumbotron">
  <%= link_to 'Передать показания водомера', new_watermeter_watermeter_indication_path(params[:watermeter_id]), class: 'btn btn-primary' %>
  <h1>Список переданых показаний</h1>
  <div class = "table-responsive">
    <table class = "table table-striped table-sm">
    <tr>
      <th>Показания</th>
      <th>Дата передачи</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
<%= will_paginate @properties %>
  <% @watermeter_indications.each do |watermeter_indication| %>
    <tr>
      <td><%= watermeter_indication.data %></td>
       <td><%= watermeter_indication.created_at.strftime("%d.%m.%Y") %></td>
      <td><%= link_to 'Show', [watermeter_indication.watermeter, watermeter_indication] %></td>
      <td><%= link_to 'Edit', edit_watermeter_watermeter_indication_path(watermeter_indication.watermeter, watermeter_indication) %></td>
      <td><%= link_to 'Destroy', [watermeter_indication.watermeter, watermeter_indication], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
  </div>
  <br />


</div>