<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @vodokanal.full_name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @vodokanal.short_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vodokanal.address %>
</p>

<p>
  <strong>Tel 1:</strong>
  <%= @vodokanal.tel_1 %>
</p>

<p>
  <strong>Tel 2:</strong>
  <%= @vodokanal.tel_2 %>
</p>

<p>
  <strong>Tel 3:</strong>
  <%= @vodokanal.tel_3 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vodokanal.email %>
</p>

<p>
  <strong>Director:</strong>
  <%= @vodokanal.director %>
</p>

<p>
  <strong>Acounter:</strong>
  <%= @vodokanal.acounter %>
</p>

<p>
  <strong>Information:</strong>
  <%= @vodokanal.information %>
</p>

<%= link_to 'Edit', edit_vodokanal_path(@vodokanal) %> |
<%= link_to 'Back', vodokanals_path %>
