<!DOCTYPE html>
<html>
  <head>
    <title>Vodokanalapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <body>



      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
 
  <header>
    <% if account_signed_in? %>
    <%= render "layouts/nav/topmenu"%>
    <% else %>
    <%= render "layouts/nav/topmenu"%>
    <% end %>
   
    </header> 

    <%= yield %>
  
    <%= render "layouts/nav/footer"%>

  </body>
</html>
