<!DOCTYPE html>
<html>
  <head>
    <title>Vodokanalapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </head>

  <body>
  <header>
    <% if account_signed_in? %>
    <%= render "layouts/nav/topmenu"%>
    <% else %>
    <%= render "layouts/nav/topmenu"%>
    <% end %>
    </header> 

      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

    <%= yield %>
  
    <%= render "layouts/nav/footer"%>
    <%= javascript_pack_tag 'main' %>
    <%= javascript_pack_tag 'core_min' %>
  </body>
</html>
